@use "./variables" as *;

// utils
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// components
@mixin button {
  @include flex(row, center, center);
  width: 100%;
  background-color: $color-background-primary;
  color: $color-text-primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 0.5rem 1rem;
}
