@use "./variables" as *;

// utils
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// components
@mixin button {
  @include font-header-medium;
  @include flex(row, center, center);
  width: 100%;
  // background-color: ;
  // color: ;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $color-brand-secondary;
  }
}
