@use "./typography";
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  //   font-family:
}

// stretch body to keep footer at bottom
// #root {
//   @include flex(column);
//   min-height: 100vh;

//   main {
//     flex: 1;
//   }
// }
