@use "./typography" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: IBMPlexSans, sans-serif;
}

// stretch body to keep footer at bottom
// #root {
//   @include flex(column);
//   min-height: 100vh;

//   main {
//     flex: 1;
//   }
// }
