// primary colors

$color-text-primary: #585c5c;
$color-brand-primary: #00ccbd;
$color-background-primary: #f4f4ed;

// button colors

$color-text-primary: #f4f4ed;
$color-background-primary: #00ccbd;
